@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300&family=Zilla+Slab&display=swap");
body{
    margin:0px;
    font-family: 'League Spartan', sans-serif;
    text-align: center;
}
.header{
    display:flex;   
    width: 80%;
}
.header a{
    color: black;
    text-decoration: none;
    text-align: center;
    padding: 1%;
    width: 30%;  
    font-family:'Zilla Slab', serif;
    
}
.header a:hover {
    background-color: #646c79;
    color: #efedce;     
}
p{
    margin-top:1%;   
}
h1{
    text-align: center;
    color: #FB9039;
    font-family:'Zilla Slab', serif;
}
/* ------------------------------------------------------------------------ */
 #pic-resume{
    width: 50%;
    margin-top: 0;
}
/* -------------------------------------------------------------------------- */
img{
    width: 95%;
    margin-top: 2%;
}
/* Project */
.program{
    margin: 30px;
}
.program >h1{
    color: #1F3044;
}
/* album */
.album-blend{
    display: grid;
    grid-template-columns: 36.5% auto auto;
    width: 80%;
    margin: auto;
}
.album-pro{
    display: grid;
    grid-template-columns: auto 41.5% auto;
    width: 80%;
    margin: auto;
    text-align: -webkit-center;}
.album-Ani{
    width: 50%;
    margin: auto;
}
.album-Ar{
    display: grid;
    grid-template-columns: auto  auto;
    width: 80%;
    margin: auto;
}
#videoid{
    width: 95%;
    margin: auto;
}
.blen1{
    grid-column: 1 /span 1;
}
.blen2{
    grid-column: 2 /span 1;
}
.blen3{
    grid-column: 3 /span 1;
}
.space{
    grid-column: 2 /span 1;
    margin-top: 0; 
}
a{
    color: #efedce; 
    text-decoration: none;
}
#picweb {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.2);
}
button{
    background-color: #646c79;
    border-radius: 10px;
    box-shadow: 0 0px 5px 2px rgba(0, 0, 0, 0.2);
    border: 0.5px solid #646c79;

   padding: 10px;
}
@media only screen and (max-width: 500px) 
{
    .album-pro,.album-blend,album-Ar{
        grid-template-columns: auto ;
    }
    .blen2,.blen3,.space{
        grid-column: 1 /span 1;
    }
    .album-Ani{
        width: 90%;
        margin: auto;
    }
}
